.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-50 {
  z-index: 50;
}

.w-80 {
  width: 20rem;
}

.bg-gray-700 {
  background-color: #4a5568;
}

.bg-gray-600 {
  background-color: #2d3748;
}

.bg-red-500 {
  background-color: #f56565;
}

.text-gray-500 {
  color: #a0aec0;
}

.text-white {
  color: #fff;
}
