<div class="container mx-auto mt-5">
  <h1 class="text-2xl font-bold">Opere nella categoria: {{ categoryName }}</h1>

  <!-- Mostra un loader se i dati sono in fase di caricamento -->
  <div *ngIf="loading" class="flex justify-center items-center h-20">
    <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-16 w-16"></div>
  </div>

  <!-- Mostra un messaggio di errore se c'è stato un errore durante il caricamento -->
  <div *ngIf="errorMessage" class="text-red-500 font-semibold text-center">
    {{ errorMessage }}
  </div>

  <!-- Elenco delle opere, nascondi il loader se non ci sono opere -->
  <div *ngIf="artworks.length > 0 && !loading; else noArtworks">
    <div *ngFor="let artwork of artworks" class="bg-white shadow-md rounded-lg p-4 mb-4">
      <h2 class="text-xl font-semibold">{{ artwork.title }}</h2>
      <p>{{ artwork.description }}</p>
      <p>Prezzo: {{ artwork.price | currency }}</p>
    </div>
  </div>

  <!-- Se l'utente è un artista, mostra l'icona per la gestione delle opere -->
  <ng-container *ngIf="isArtist">
    <a [routerLink]="['/categories', categoryId, 'artworks/manage']" class="text-blue-500 hover:text-blue-700">
      <i class="fas fa-edit fa-2x"></i> Gestisci le opere
    </a>
  </ng-container>

  <!-- Messaggio se non ci sono opere -->
  <ng-template #noArtworks>
    <p class="text-gray-500">Non ci sono opere disponibili al momento.</p>
  </ng-template>
</div>
