<!-- Form per creare o modificare opera -->
<div class="mb-4">
  <h3 class="text-lg font-semibold mb-4">{{ editing ? 'Modifica Opera' : 'Aggiungi Nuova Opera' }}</h3>

  <form (ngSubmit)="editing ? updateArtwork() : createArtwork()" enctype="multipart/form-data">
    <div class="mb-4">
      <label for="title" class="block mb-1">Titolo</label>
      <input type="text" id="title" class="border px-4 py-2 w-full" [(ngModel)]="artworkForm.title" name="title" required />
    </div>

    <div class="mb-4">
      <label for="description" class="block mb-1">Descrizione</label>
      <textarea id="description" class="border px-4 py-2 w-full" [(ngModel)]="artworkForm.description" name="description" required></textarea>
    </div>

    <div class="mb-4">
      <label for="price" class="block mb-1">Prezzo</label>
      <input type="number" id="price" class="border px-4 py-2 w-full" [(ngModel)]="artworkForm.price" name="price" required />
    </div>

    <div class="mb-4">
      <label for="category" class="block mb-1">Categoria</label>
      <select id="category" [(ngModel)]="artworkForm.categoryId" name="categoryId" required>
        <option [ngValue]="null">Seleziona una categoria</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="type" class="block mb-1">Tipo di Opera</label>
      <select id="type" class="border px-4 py-2 w-full" [(ngModel)]="artworkForm.type" name="type" required>
        <option [value]="'Opere'">Opere</option>
        <option [value]="'NFT'">NFT</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="imageUrl" class="block mb-1">Inserisci URL Immagine</label>
      <input type="text" id="imageUrl" class="border px-4 py-2 w-full" [(ngModel)]="artworkForm.imageUrl" name="imageUrl" />
    </div>

    <div class="mb-4">
      <label class="block mb-1">Carica Immagine</label>
      <input type="file" (change)="onFileChange($event)" accept="image/*" />
    </div>

    <!-- Anteprima immagine -->
    <div *ngIf="imagePreview" class="mb-4">
      <h4>Anteprima Immagine:</h4>
      <img [src]="imagePreview" alt="Anteprima Immagine" class="w-48 h-48 object-cover" />
    </div>

    <div class="mb-4">
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" [disabled]="loading">
        {{ loading ? 'Caricamento...' : (editing ? 'Aggiorna Opera' : 'Aggiungi Opera') }}
      </button>
    </div>
  </form>
</div>

<div *ngIf="message" class="mb-4">
  <div [ngClass]="{ 'bg-green-500': success, 'bg-red-500': !success }" class="text-white p-4 rounded">
    {{ message }}
  </div>
</div>
