/* Contenitore principale per il layout */
.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
  color: #ffffff;
}

/* Titolo della sezione */
.container h1 {
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Griglia delle categorie */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Aggiunta dei bordi neon alle card */

/* Stile per le card delle categorie con bordo neon gradiente */
.category-card {
  position: relative;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;

  /* Bordo neon con gradiente */
  border-image: linear-gradient(90deg, #00e0ff, #ff00ff) 1;

  /* Ombre neon */
  box-shadow: 0 0 10px rgba(0, 224, 255, 0.4),  /* Ombra blu neon */
              0 0 20px rgba(255, 0, 255, 0.4); /* Ombra fucsia neon */;
}

/* Hover sulle card per intensificare l'effetto neon */
.category-card:hover {
  box-shadow: 0 0 15px rgba(0, 224, 255, 0.6),
              0 0 30px rgba(255, 0, 255, 0.6);
}



/* Immagine delle categorie */
.grid .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Dettagli della categoria */
.grid .card .details {
  text-align: center;
  padding: 10px;
}

.grid .card h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}

/* Stile per l'icona di modifica */
.grid .card .edit-icon {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grid .card .edit-icon:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.grid .card .edit-icon i {
  color: #ffffff;
}

