html, body, app-root, .min-h-screen {
  height: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Aggiungi min-height al flex container */
}

.flex-grow {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Assicura che il contenitore abbia altezza minima dello schermo */
}

.router-outlet {
  display: flex;
  flex-grow: 1;
  min-height: calc(100vh - 100px); /* Sostituisci 100px con l'altezza della tua navbar + footer */
}

.component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Bottone tondo in grigio con ombra e icona centrata */
#scrollToTopBtn {
  position: fixed;
  color: white; /* Colore dell'icona */
  font-size: 14px; /* Dimensione dell'icona */
  border: 2px solid white; /* Bordi bianchi */
  background-color: transparent; /* Colore di sfondo trasparente */
  border-radius: 50%; /* Rende il bottone tondo */
  cursor: pointer;

  /* Centrare l'icona */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Rimuovi padding e margini che potrebbero interferire */
  padding: 0;
  margin: 0;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Sfondo semi-trasparente al passaggio del mouse */
  border-color: #ffffff; /* Mantiene i bordi bianchi */
}

