html, body, app-root, .min-h-screen {
  height: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Aggiungi min-height al flex container */
}

.flex-grow {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Assicura che il contenitore abbia altezza minima dello schermo */
}

.router-outlet {
  display: flex;
  flex-grow: 1;
  min-height: calc(100vh - 100px); /* Sostituisci 100px con l'altezza della tua navbar + footer */
}

.component {
  height: 100%;
  display: flex;
  flex-direction: column;
}
