html, body {
  height: 100%; /* Imposta l'altezza di tutto il documento */
  margin: 0;
  padding: 0;
}

.min-h-screen {
  min-height: 100vh; /* Altezza minima per coprire tutto lo schermo */
}

.mySwiper {
  height: 100vh; /* Altezza del carosello su tutto lo schermo */
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column; /* Disposizione degli elementi in colonna */
}

.flex-grow {
  flex-grow: 1; /* Il contenuto principale si espande per riempire lo spazio */
}
