/* Stili generali per il pulsante */


.btn {
  @apply bg-gray-700 text-white rounded-lg px-4 py-2 transition duration-300 hover:bg-gray-600;
}

/* Placeholder degli input di ricerca */
input[type="text"]::placeholder {
  color: #cbd5e0;
}

/* Rimuove il bordo e lo sfondo quando l'input è attivo */
input[type="text"]:focus {
  outline: none;
}

/* Icone nel pulsante */
button i {
  color: #ffffff;
}

/* Cambia colore dell'icona quando passi sopra al pulsante */
button:hover i {
  color: #cbd5e0;
}

/* Lista dei risultati */
ul {
  border-radius: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
  background-color: #1f2937;  /* Colore sfondo uguale alla navbar */
  color: #ffffff; /* Testo in bianco */
  width: 100%; /* Larghezza piena della barra di ricerca */
  position: absolute;
  z-index: 10;
}

/* Singolo elemento della lista */
li {
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: left;
}

/* Hover sul singolo elemento */
li:hover {
  background-color: #374151;  /* Cambia il colore di sfondo al passaggio del mouse */
}

/* Sottolinea le lettere che corrispondono alla ricerca */
strong {
  font-weight: bold;
  color: #10b981;  /* Colore evidenziato per le lettere */
}

/* Navbar sticky */
nav {
  @apply sticky top-0 z-50 bg-gray-900 shadow-md py-3;
}

/* Contenitori flex per navbar */
nav .container {
  @apply flex flex-wrap justify-between items-center;
}

/* Gestione layout per schermi piccoli */
nav .container div {
  @apply w-full md:w-auto; /* Adatta la larghezza dei div */
}

/* Impostazioni per nascondere il menu medio-largo su schermi piccoli */
nav .middle-links {
  @apply hidden md:flex space-x-9 text-white;
}

/* Impostazioni per la barra di ricerca */
nav .search-bar {
  @apply relative text-gray-400 w-full md:w-64; /* Adatta la larghezza */
}

/* Pulsante di ricerca responsivo */
nav .search-bar button {
  @apply absolute right-3 top-2 text-gray-500 hover:text-white;
}

/* Responsività su schermi molto piccoli */
@media (max-width: 768px) {
  nav .middle-links {
    @apply flex flex-col space-y-2 mt-4 text-center;
  }
}
