<nav class="bg-gray-900 py-3 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo Section -->
    <div class="flex items-center">
      <span class="text-xl font-semibold text-white">NovaVerse</span>
    </div>

    <!-- Middle Navigation Links -->
    <div class="hidden md:flex space-x-6 text-white">
      <a routerLink="/" class="hover:text-gray-400">Home</a>
      <a routerLink="/categories" class="hover:text-gray-400">Category</a>
      <a href="#" class="hover:text-gray-400">Artists</a>
      <a href="#" class="hover:text-gray-400">NFT (coming soon)</a>
      <a href="#" class="hover:text-gray-400">Crypto</a>
    </div>

    <!-- Right Side Section -->
    <div class="flex items-center space-x-4">
      <ng-container *ngIf="isLoggedIn(); else guestLinks">
        <!-- Icone Profilo, Carrello, Preferiti e Logout -->
        <a routerLink="/profile" class="text-white bg-gray-700 hover:bg-gray-600 rounded-full p-2">
          <i class="fas fa-user"></i>
        </a>

        <a routerLink="/favorite-list" class="text-white bg-gray-700 hover:bg-gray-600 rounded-full p-2">
          <i class="fas fa-heart"></i> <!-- Icona del cuoricino per i preferiti -->
        </a>



        <a routerLink="/cart" class="text-white bg-gray-700 hover:bg-gray-600 rounded-full p-2">
          <i class="fas fa-shopping-cart"></i>
        </a>

        <a (click)="onLogout()" class="text-white bg-gray-700 hover:bg-gray-600 rounded-full p-2">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </ng-container>

      <!-- Sezione Guest (non loggato) -->
      <ng-template #guestLinks>
        <a routerLink="/auth/login" class="text-white hover:text-gray-400">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      </ng-template>
    </div>
  </div>
</nav>
