<div class="container mx-auto mt-5 mb-20">
  <!-- Sezione per mostrare gli articoli nel carrello -->
  <div *ngIf="cart && cart.items && cart.items.length > 0; else noItems">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let item of cart.items" class="relative bg-white shadow-md rounded-lg p-4">
        <!-- Immagine dell'opera -->
        <div class="relative h-48 mb-4">
          <img *ngIf="item.artworkPhoto || item.artworkImageUrl"
               [src]="item.artworkPhoto ? ('http://localhost:5034' + item.artworkPhoto) : item.artworkImageUrl"
               alt="{{ item.artworkTitle }}"
               class="w-full h-full object-cover rounded-lg">
        </div>

        <!-- Dettagli dell'opera -->
        <h4 class="text-xl font-bold mb-2">{{ item.artworkTitle }}</h4>
        <p class="text-gray-600">{{ item.artistName }}</p> <!-- Mostra il nome dell'artista -->
        <p class="text-gray-600">{{ item.priceAtAddTime | currency }}</p>

        <!-- Aumenta e diminuisci la quantità -->
        <div class="flex items-center justify-between">
          <button (click)="decreaseQuantity(item)" class="text-red-600">-</button>
          <span>{{ item.quantity }}</span>
          <button (click)="increaseQuantity(item)" class="text-green-600">+</button>
        </div>
      </div>
    </div>

    <!-- Totale carrello -->
    <div class="flex justify-between items-center mt-8">
      <h3 class="text-lg font-bold">Totale Carrello:</h3>
      <h3 class="text-lg font-bold">{{ totalCost | currency:'EUR' }}</h3>
    </div>

    <!-- Bottone per il checkout -->
    <div class="flex justify-center mt-10">
      <button (click)="checkout()" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">
        Checkout
      </button>
    </div>
  </div>

  <!-- Fallback se non ci sono articoli nel carrello -->
  <ng-template #noItems>
    <p class="text-center text-gray-500">Il carrello è vuoto.</p>
  </ng-template>
</div>
