@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

.animate-fadeOut {
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.5s ease-in-out;
}

