<div class="container mx-auto mt-10 p-6 bg-gray-800 rounded-lg shadow-lg max-w-xl text-white">
  <h2 class="text-3xl font-semibold mb-4 text-center">{{ (artwork$ | async)?.title }}</h2>

  <!-- Sezione immagine -->
  <div class="flex justify-center mb-6">
    <img [src]="'http://localhost:5034' + (artwork$ | async)?.photo || (artwork$ | async)?.imageUrl"
         alt="{{ (artwork$ | async)?.title }}" class="rounded-lg max-w-xs shadow-lg object-cover">
  </div>

  <!-- Dettagli dell'opera -->
  <div class="space-y-4">
    <p><strong>Descrizione:</strong> {{ (artwork$ | async)?.description }}</p>
    <p><strong>Prezzo:</strong> {{ (artwork$ | async)?.price | currency:'EUR' }}</p>
    <p><strong>Categoria:</strong> {{ (artwork$ | async)?.categoryId }}</p>
    <p><strong>Creato da:</strong> {{ (artwork$ | async)?.artistName }}</p>
    <p><strong>Data di creazione:</strong> {{ (artwork$ | async)?.createDate | date:'medium' }}</p>
    <p><strong>Visualizzazioni:</strong> {{ (artwork$ | async)?.viewCount }}</p>
    <p *ngIf="(artwork$ | async)?.soldOut" class="text-red-500 font-bold">Questo articolo è stato venduto</p>
  </div>

  <!-- Sezione azioni utente -->
  <ng-container *ngIf="artwork$ | async as artwork">
    <div *ngIf="isArtist(artwork)">
      <button (click)="toggleEdit()" class="w-full bg-yellow-500 hover:bg-yellow-600 text-white py-2 px-4 rounded-lg mt-4">
        Modifica Opera
      </button>
    </div>

    <!-- Form di modifica -->
    <ng-container *ngIf="editMode">
      <form (ngSubmit)="saveChanges(artwork)" class="mt-6 space-y-4" enctype="multipart/form-data">
        <div>
          <label for="title" class="block text-gray-300">Titolo</label>
          <input id="title" [(ngModel)]="artworkData.title" name="title" class="w-full bg-gray-700 p-2 rounded-lg" required />
        </div>

        <div>
          <label for="description" class="block text-gray-300">Descrizione</label>
          <textarea id="description" [(ngModel)]="artworkData.description" name="description" class="w-full bg-gray-700 p-2 rounded-lg"></textarea>
        </div>

        <div>
          <label for="price" class="block text-gray-300">Prezzo</label>
          <input id="price" type="number" [(ngModel)]="artworkData.price" name="price" class="w-full bg-gray-700 p-2 rounded-lg" required />
        </div>

        <div>
          <label for="categoryId" class="block text-gray-300">Categoria</label>
          <input id="categoryId" type="number" [(ngModel)]="artworkData.categoryId" name="categoryId" class="w-full bg-gray-700 p-2 rounded-lg" required />
        </div>

        <div>
          <label for="artistName" class="block text-gray-300">Creato da</label>
          <input id="artistName" [(ngModel)]="artworkData.artistName" name="artistName" class="w-full bg-gray-700 p-2 rounded-lg" disabled />
        </div>

        <!-- Sezione per modificare l'immagine -->
        <div>
          <label for="image" class="block text-gray-300">Immagine</label>
          <input id="image" type="file" (change)="onImageSelected($event)" class="w-full bg-gray-700 p-2 rounded-lg" />
        </div>

        <div class="flex justify-end">
          <button type="submit" class="bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-lg">
            Salva Modifiche
          </button>
        </div>
      </form>
    </ng-container>

    <!-- Azioni utente -->
    <div class="mt-6 space-y-4">
      <button (click)="addToFavorites(artwork.id)" class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-lg">
        Aggiungi ai Preferiti
      </button>

      <!-- Popup di conferma -->
      <div *ngIf="showPopup" class="fixed top-5 right-5 bg-gray-800 text-white py-2 px-4 rounded-lg shadow-lg opacity-90">
        L'articolo è stato aggiunto ai preferiti!
      </div>

      <button (click)="addToCart(artwork)" class="w-full bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-lg">
        Aggiungi al Carrello
      </button>

      <!-- Elimina l'opera solo se l'utente è l'artista -->
      <div *ngIf="isArtist(artwork)">
        <button (click)="deleteArtwork(artwork.id)" class="w-full bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-lg">
          Elimina Opera
        </button>
      </div>
    </div>
    <!-- Modale di conferma per eliminare l'opera -->
<div *ngIf="showConfirmDelete" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full text-center">
    <h3 class="text-xl font-semibold text-gray-900 mb-4">Sei sicuro di voler eliminare questa opera?</h3>
    <p class="text-gray-600">Questa azione non può essere annullata.</p>
    <div class="mt-6 flex justify-between">
      <!-- Passa l'ID dell'opera al metodo -->
      <!-- Rimuovi l'argomento passato -->
<button (click)="confirmDeleteArtwork()" class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-lg">
  Elimina Opera
</button>

      <button (click)="cancelDelete()" class="bg-gray-600 hover:bg-gray-700 text-white px-4 py-2 rounded-lg">Annulla</button>
    </div>
  </div>
</div>

<!-- Notifica di successo per l'eliminazione -->
<div *ngIf="showDeleteSuccess" class="fixed top-5 right-5 bg-green-500 text-white py-2 px-4 rounded-lg shadow-lg">
  L'opera è stata eliminata con successo!
</div>

  </ng-container>

  <!-- Sezione Commenti -->
  <div class="mt-6 space-y-4">
    <h2 class="text-2xl font-semibold">Recensioni</h2>

    <!-- Mostra i commenti -->
    <div *ngIf="comments$ | async as comments; else noComments">
      <div *ngFor="let comment of comments" class="bg-gray-700 p-4 rounded-lg mb-2 flex items-start">
        <!-- Avatar utente -->
        <img *ngIf="comment.profilePicture"
             [src]="getProfilePictureUrl(comment.profilePicture)"
             alt="Immagine profilo di {{ comment.username }}"
             class="w-12 h-12 rounded-full mr-4">

        <div *ngIf="!comment.profilePicture" class="w-12 h-12 rounded-full bg-gray-700 flex items-center justify-center text-gray-400">
          <p>Nessuna immagine</p>
        </div>

        <!-- Contenuto del commento -->
        <div>
          <p class="text-gray-300">{{ comment.commentText }}</p>
          <small class="text-gray-400">Recensito da: {{ comment.username }} il {{ comment.createDate | date:'short' }}</small>

          <!-- Pulsanti di modifica ed eliminazione (se l'utente è l'autore) -->
          <div *ngIf="isCurrentUser(comment.userId)" class="flex space-x-2 mt-2">
            <button (click)="enableEditComment(comment)" class="text-white bg-gray-400 hover:bg-gray-600 rounded-full p-2">
              <i class="fas fa-pencil-alt"></i> <!-- Icona matita -->
            </button>

            <button (click)="deleteComment(comment.id!)" class="text-white bg-gray-400 hover:bg-gray-600 rounded-full p-2">
              <i *ngIf="deletingCommentId === comment.id" class="fas fa-spinner fa-spin"></i>
              <i *ngIf="deletingCommentId !== comment.id" class="fas fa-trash-alt"></i> <!-- Icona cestino -->
            </button>
          </div>

          <!-- Modalità di modifica commento -->
          <div *ngIf="comment.id === editingCommentId">
            <textarea [(ngModel)]="editedCommentText" class="w-full p-2 mt-2 bg-gray-600 rounded-lg text-white"></textarea>
            <button (click)="saveEditedComment(comment.id)" class="bg-green-500 hover:bg-green-600 text-white px-2 py-1 rounded-full mt-2">Salva</button>
            <button (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-600 text-white px-2 py-1 rounded-full mt-2">Annulla</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Nessun commento -->
    <ng-template #noComments>
      <p class="text-gray-400">Non ci sono recensioni per questa opera.</p>
    </ng-template>

    <!-- Form per aggiungere una recensione -->
    <div class="mt-4">
      <textarea [(ngModel)]="newComment" placeholder="Lascia la tua recensione..." class="w-full p-4 bg-gray-600 text-white rounded-lg"></textarea>
      <button (click)="leaveReview(newComment)" class="mt-2 bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg">Invia Recensione</button>
    </div>
  </div>

  <!-- Pulsante per tornare alla lista delle opere -->
  <div class="mt-6">
    <button (click)="goBackToCategory()" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">
      Torna alla Lista delle Opere
    </button>
  </div>
</div>
