<div class="w-full min-h-screen bg-gradient-to-b from-purple-300 to-gray-900 p-8">
  <!-- Sezione per mostrare le opere associate -->
  <div *ngIf="artworks$ | async as artworks; else noArtworks" class="w-full">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 max-w-screen-xl mx-auto">
      <!-- Ciclo attraverso le opere ricevute -->
      <div *ngFor="let artwork of artworks" class="relative bg-gray-900 shadow-lg rounded-lg p-4 transition-transform transform hover:scale-105 duration-300">
        <!-- Naviga alla pagina di dettaglio dell'opera -->
        <a [routerLink]="['/artworks', artwork.id]" class="block">
          <!-- Immagine dell'opera -->
          <div class="relative h-48 mb-4">
            <img *ngIf="artwork.photo || artwork.imageUrl"
                 [src]="'http://localhost:5034' + artwork.photo"
                 alt="Opera"
                 loading="lazy"
                 class="w-full h-full object-cover rounded-lg">
          </div>

          <!-- Dettagli dell'opera -->
          <h4 class="text-2xl font-bold text-white mb-2">{{ artwork.title }}</h4>
          <p class="text-gray-300">{{ artwork.price | currency:'EUR' }}</p> <!-- Testo in bianco o grigio chiaro -->
        </a>
      </div>
    </div>
  </div>

  <!-- Messaggio di fallback se non ci sono opere -->
  <ng-template #noArtworks>
    <p class="text-center text-white">Non ci sono opere associate a questa categoria.</p>
  </ng-template>

  <!-- Bottone per tornare alla pagina delle categorie -->
  <div class="flex justify-center mt-10">
    <button (click)="goToCategories()" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">
      Torna alle Categorie
    </button>
  </div>
</div>
