<div class="container mx-auto mt-5 mb-20"> <!-- Aggiunta di mb-20 per il distacco -->
  <!-- Sezione per mostrare le opere associate -->
  <div *ngIf="artworks$ | async as artworks; else noArtworks">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <!-- Ciclo attraverso le opere ricevute -->
      <div *ngFor="let artwork of artworks" class="relative bg-white shadow-md rounded-lg p-4">
        <!-- Naviga alla pagina di dettaglio dell'opera -->
        <a [routerLink]="['/artworks', artwork.id]" class="block">
          <!-- Immagine dell'opera -->
          <div class="relative h-48 mb-4">
            <img *ngIf="artwork.photo || artwork.imageUrl"
                 [src]="'http://localhost:5034' + artwork.photo"
                 alt="Opera"
                 loading="lazy"
                 class="w-full h-full object-cover rounded-lg">
          </div>

          <!-- Dettagli dell'opera -->
          <h4 class="text-xl font-bold mb-2">{{ artwork.title }}</h4>
          <p class="text-gray-600">{{ artwork.price | currency:'EUR' }}</p> <!-- Modifica qui per mostrare in EUR -->
        </a>
      </div>
    </div>
  </div>

  <!-- Messaggio di fallback se non ci sono opere -->
  <ng-template #noArtworks>
    <p class="text-center text-gray-500">Non ci sono opere associate a questa categoria.</p>
  </ng-template>

  <!-- Bottone per tornare alla pagina delle categorie -->
  <div class="flex justify-center mt-10">
    <button (click)="goToCategories()" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">
      Torna alle Categorie
    </button>
  </div>
</div>
