.dark-mode {
  background-color: #1a1a1a; /* Sfondo scuro */
  color: #f0f0f0; /* Testo chiaro */
}

.light-mode {
  background-color: #ffffff; /* Sfondo chiaro */
  color: #333333; /* Testo scuro */
}

.bg-gray-800 {
  background-color: #ae83d1;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-blue-700 {
  background-color: #ffffff;
  color: #000000;
}

.bg-blue-500 {
  background-color: #1f2937;
}
